In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import sqlalchemy

In [7]:
engine = create_engine(' ')

connection = engine.connect()

In [8]:
with open('crowdfunding_db.sql', 'r') as file:
    sql_script = file.read()

In [9]:
query = """ SELECT outcome, COUNT(*) AS count
FROM campaign
GROUP BY outcome; """

df = pd.read_sql_query(query, engine)
print(df)

# Create a pie chart
plt.figure(figsize=(8, 8))
plt.pie(df['count'], labels=df['outcome'], autopct='%1.1f%%', startangle=140)
plt.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.

# Set the title
plt.title('Campaign Outcomes Distribution')

# Display the plot
plt.show()

OperationalError: (sqlite3.OperationalError) no such table: campaign
[SQL:  SELECT outcome, COUNT(*) AS count
FROM campaign
GROUP BY outcome; ]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
query = """
SELECT c.category AS Category,
       c.outcome AS Outcome,
       COUNT(*) AS Outcome_Count
FROM campaign c
JOIN category cat ON c.category_id = cat.category_id
GROUP BY Category, outcome
ORDER BY Category, outcome;
"""

df = pd.read_sql_query(query, engine)
print(df)

print(df.columns)

In [ ]:


# Adjust the column names based on the actual column names in the DataFrame
x = df['outcome_count']  # Use 'outcome' instead of 'Outcome'
y = df['category']  # Use 'outcome_count' instead of 'Outcome_Count'

# Create a scatter plot
plt.figure(figsize=(10, 6))  # Set the figure size
plt.scatter(x, y, color='blue', marker='o')  # Create the scatter plot
plt.title('Campaign Outcome vs. Outcome Count')  # Add a title to the plot
plt.xlabel('Outcome_count')  # Add label to the x-axis
plt.ylabel('category')  # Add label to the y-axis
plt.grid(True)  # Add gridlines
plt.show()  # Display the plot

In [ ]:
query = """
SELECT cat.category_name AS Category,
       AVG(c.funding_goal) AS Average_Funding_Goal
FROM campaign c
JOIN category cat ON c.category_id = cat.category_id
GROUP BY cat.category_name
ORDER BY Average_Funding_Goal DESC;
"""


data = {
    'Category': ['Category A', 'Category B', 'Category C', 'Category D'],
    'Average_Funding_Goal': [5000, 7000, 6000, 8000]  # Sample average funding goals
}



# Create a DataFrame from the sample data (replace with your SQL query result)
df = pd.DataFrame(data)

# Create a bar chart
plt.figure(figsize=(12, 6))
plt.bar(df['Category'], df['Average_Funding_Goal'], color='skyblue')
plt.xlabel('Category')
plt.ylabel('Average Funding Goal')
plt.title('Average Funding Goal by Category')
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.tight_layout()

# Display the plot
plt.show()

In [ ]:
# Close the connection
connection.close()